/* Contoh CSS untuk Navbar */
.navbar {
  background-color: #343a40;
}

.navbar-brand {
  font-size: 1.5rem;
}

.nav-link {
  color: #fff !important;
}

.navbar-brand h1 {
  margin: 0;
}

.bg-secondary {
  background-color: #6c757d !important;
}
