.categories {
  margin-bottom: 20px;
}

.categories button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.categories button:hover {
  background-color: #0056b3;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  margin: -10px; /* Menambahkan jarak negatif untuk mengimbangi margin pada setiap item proyek */
  transition: opacity 0.3s ease;
}

.project-item {
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 20px;
  margin: 10px; /* Memberikan jarak antara setiap item proyek */
  box-shadow: 0 4px 6px rgba(0,254,201,0.1);
  transition: transform 0.3s ease;
}


.project-item img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.project-item h3 {
  font-size: 18px;
  margin: 0;
}

.project-item:hover {
  transform: translateY(-5px);
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

