#team {
  background-color: #f8f9fa; /* Warna latar belakang */
  padding: 100px 0; /* Padding atas dan bawah */
}

.display-5 {
  color: #007bff; /* Warna teks */
  font-weight: bold; /* Ketebalan teks */
}

.btn-primary {
  background-color: #007bff; /* Warna tombol primer */
  border-color: #007bff; /* Warna border tombol primer */
  color: #fff; /* Warna teks tombol */
}

.btn-primary:hover {
  background-color: #0056b3; /* Warna tombol primer saat dihover */
  border-color: #0056b3; /* Warna border tombol primer saat dihover */
}

.team-item {
  overflow: hidden;
  transition: transform 0.3s ease;
}

.team-item:hover {
  transform: translateY(-5px); /* Menggeser item tim ke atas saat dihover */
}

.team-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9); /* Warna latar belakang */
  padding: 20px; /* Padding */
  transition: background-color 0.3s ease;
  transform: translateY(100%); /* Membuat teks tim berada di luar saat awal */
}

.team-item:hover .team-text {
  transform: translateY(0); /* Menggeser teks tim ke atas saat dihover */
}

.team-text h5 {
  color: #343a40; /* Warna teks nama tim */
  margin-bottom: 5px; /* Margin bawah */
}

.team-text span {
  color: #6c757d; /* Warna teks posisi tim */
}
